.container {
    position: static;
    top: -100px; left: 40px;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    /* top: 50px; */
    /* height: 600px; */
    /* min-height: 100vh; */