.TopHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 15px;
    padding: 0.9rem;
    color: blue;
    background: purple;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }